<header>
  <nav>
    <a href="/">Home</a>
  </nav>
</header>
<main>
  <h1>All Shelters</h1>
  <% @shelters.each do |shelter| %>
    <h2><a href="/shelters/<%= shelter.id %>"><%= shelter.name %></a></h2>
    <button class="update_shelter"><a href="/shelters/<%= shelter.id %>/edit">Update Shelter</a></button>
    <form action="/shelters/<%= shelter.id %>" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="Delete Shelter"/>
    </form>
  <% end %>
  <p><a href="/shelters/new">New Shelter</a></p>
</main>