<header>
  <nav>
    <a href="/">Home</a>
    <a href="/shelters">Shelters</a>
  </nav>
</header>
<main>
  <h1><%= @shelter.name %></h1>
  <ul>
    <li><%= @shelter.address %></li>
    <li><%= @shelter.city %></li>
    <li><%= @shelter.state %></li>
    <li><%= @shelter.zip %></li>
  </ul>
  
</main>