<header>
  <nav>
    <%= link_to "Home", "/" %>
    <%= link_to "Shelters", "/shelters" %>
  </nav>
</header>
<main>
  <h1><%= @shelter.name %></h1>
  <ul>
    <li><%= @shelter.address %></li>
    <li><%= @shelter.city %></li>
    <li><%= @shelter.state %></li>
    <li><%= @shelter.zip %></li>
  </ul>
  <p><%= link_to "Update Shelter", "#{@shelter.id}/edit" %></p>
  <p><%= link_to "Delete Shelter", "#{@shelter.id}", method: :delete %></p>
</main>