<main>
  <h1><%= @shelter.name %></h1>
  <p><%= @shelter.address %><br/>
    <%= @shelter.city %><br/>
    <%= @shelter.state %><br/>
    <%= @shelter.zip %></p>
  <p><%= link_to "Shelter Pets", "#{@shelter.id}/pets" %></p>
  <p><%= link_to "Update Shelter", "#{@shelter.id}/edit" %></p>
  <p><%= link_to "Delete Shelter", "#{@shelter.id}", method: :delete %></p>
</main>