<main>
  <h2><%= link_to @shelter.name, "/shelters/#{@shelter.id}" %> Pets</h2>
  <% @shelter.pets.each do |pet| %>
    <%= image_tag pet.image %><br/>
    <h1><%= link_to pet.name, "/pets/#{pet.id}" %></h1>
    <p>Approximate Age: <%= pet.approx_age %>
    <p>Sex: <%= pet.sex %></p>
    <p>Status: <%= pet.status %></p>
    <p><%= link_to "Update Pet", "/pets/#{pet.id}/edit" %></p>
  <% end %>
  <p><%= link_to "Create Pet", "/shelters/#{@shelter.id}/pets/new" %></p>
</main>