<main>
  <h1>All Pets</h1>
  <% @pets.each do |pet| %>
    <p><%= image_tag pet.image %></p>
    <h1><%= pet.name %></h1>
    <p>Approximate Age: <%= pet.approx_age %></p>
    <p>Sex: <%= pet.sex %></p>
    <p>Shelter: <%= link_to pet.shelter.name, "/shelters/#{pet.shelter.id}" %></p>
    <p><%= link_to "Update Pet", "/pets/#{pet.id}/edit" %></p>
    <p><%= link_to "Delete Pet", "/pets/#{pet.id}", method: :delete %></p>
  <% end %>
</main>